div.users ul {
  display: flex;
  flex-direction: column;
    margin: 10px 10px;
    box-sizing: border-box;
}

 div.users ul li{
     display: flex;
     display: row;
     margin: 5px;
    border: 1px solid black;
    
    cursor: pointer;
    
}
div.users ul li span{
    flex-basis: 33%;
   
    padding: 5px;
    align-items: flex-start;
}



