div.nav ul{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

div.nav ul li{
    flex-grow: 1;
    list-style: none;
    margin-left: 10px;
    border: 2px solid black;
    color:black;
    cursor: pointer;
}

div.nav ul li:hover a{
    background-color: black;
    color: white;
}

div.nav ul li a{
    display: block;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: .3s;
}