button.signout{
    border: none;
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s;
    padding: 10px;
}

button.signout:hover{
    background-color: black;
    color: white;
}
